<section class="d-flex align-items-center justify-content-center position-relative"
         style="height: calc(100vh - 57px);">

    <!-- Imagem -->
    <img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511"
         class="position-absolute w-100 h-100"
         style="object-fit: cover;"
         alt="Chalé">

    <!-- Camada escura -->
    <div class="position-absolute w-100 h-100 bg-dark opacity-50"></div>

    <!-- Conteúdo -->
    <div class="text-center text-white position-relative">
        <h1 class="display-3 fw-bold">Chalé</h1>
        <p class="lead">Descanso no meio da natureza</p>
    </div>


</section>

