{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="card shadow m-3 col-md-6 mx-auto">
    <div class="card-body">
        <div class="row">
            <h3 class="text-center">Cadastro de Chave</h3>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="{{ form.nome.id_for_label }}" class="form-label fw-bold">{{ form.nome.label }}</label>
                    {{ form.nome }}
                    {% if form.nome.errors %}
                        <div class="alert alert-danger mt-2 mb-0" role="alert">
                            {% for error in form.nome.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="text-end mt-3">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                    <a href="{% url 'chaves' %}" class="btn btn-secondary text-white" type="button">
                        <span class="text">Cancelar</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
