{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="card shadow m-3 col-md-6 mx-auto">
    <div class="card-body">
        <div class="row">
            <h3 class="text-center mb-4">Cadastro de Propriedade</h3>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                
                {% bootstrap_field form.nome %}
                
                {% bootstrap_field form.tipo %}
                
                <!-- portão associado (Condicional para Chalé Exclusivo) -->
                <div id="portao-field" style="display: none;">
                    {% bootstrap_field form.portao_associado %}
                </div>

                <!-- propriedade linkada (Condicional para Portão) -->
                <div id="propriedade-linkada-field" style="display: none;">
                    {% bootstrap_field form.propriedade_linkada %}
                </div>
                
                <div class="text-end mt-3">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                    <a href="{% url 'propriedades' %}" class="btn btn-secondary" type="button">
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script> // script para mostrar/ocultar campos condicionalmente - revisar essa logica 

document.addEventListener('DOMContentLoaded', function() {
    const tipoSelect = document.getElementById('id_tipo');
    const portaoField = document.getElementById('portao-field');
    const propriedadeLinhadaField = document.getElementById('propriedade-linkada-field');
    
    function verificarTipo() { //pra mostrar os campos especificos de chale exclusivo e portao
        const tipo = tipoSelect.value;
        
        // mostrar portao field apenas para chale exclusivo
        if (tipo === 'CHALE_EXCLUSIVO') {
            portaoField.style.display = 'block';
        } else {
            portaoField.style.display = 'none';
        }

        // mostrar propriedade linkada field apenas para portão
        if (tipo === 'PORTAO') {
            propriedadeLinhadaField.style.display = 'block';
        } else {
            propriedadeLinhadaField.style.display = 'none';
        }
    }

    // executar ao carregar (caso de atualizar a pag e tal)
    verificarTipo();

    // executar ao mudar (clicar no tipo)
    tipoSelect.addEventListener('change', verificarTipo);
});
</script>
{% endblock %}
