{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="card shadow m-3 col-md-6 mx-auto">
    <div class="card-body">
        <div class="row">
            <h3 class="text-center">Dados do Empréstimo</h3>

            <p class="p-2 mt-2"><strong>Data Retirada:</strong> {{ object.data_retirada|date:"d/m/Y" }}</p>
            <p class="p-2 mt-2"><strong>Data Prevista:</strong> {{ object.data_prevista|date:"d/m/Y" }}</p>
            <p class="p-2 mt-2"><strong>Data Devolução:</strong> {% if object.data_devolucao %}{{ object.data_devolucao|date:"d/m/Y" }}{% else %}Pendente{% endif %}</p>
            <p class="p-2 mt-2"><strong>Multa:</strong> R$ {{ object.multa }}</p>

            <p class="p-2 mt-2">
                Confirma a exclusão do empréstimo: <strong>{{ object }}</strong>?
            </p>

            <form method="POST" novalidate>
                {% csrf_token %}

                <div class="text-end">
                    {% bootstrap_button button_type="submit" content="Sim" %}
                    
                    <a href="{% url 'emprestimos' %}" class="btn btn-secondary text-white" type="button">
                        <span class="text">Cancelar</span>
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
