{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="card shadow m-3 col-md-6 mx-auto">
    <div class="card-body">
        <div class="row">
            <h3 class="text-center">Cadastro de Reserva</h3>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="{{ form.data_inicio.id_for_label }}" class="form-label fw-bold">{{ form.data_inicio.label }}</label>
                    {{ form.data_inicio }}
                    {% if form.data_inicio.errors %}
                        <div class="alert alert-danger mt-2 mb-0" role="alert">
                            {% for error in form.data_inicio.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.data_fim.id_for_label }}" class="form-label fw-bold">{{ form.data_fim.label }}</label>
                    {{ form.data_fim }}
                    {% if form.data_fim.errors %}
                        <div class="alert alert-danger mt-2 mb-0" role="alert">
                            {% for error in form.data_fim.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.status.id_for_label }}" class="form-label fw-bold">{{ form.status.label }}</label>
                    {{ form.status }}
                    {% if form.status.errors %}
                        <div class="alert alert-danger mt-2 mb-0" role="alert">
                            {% for error in form.status.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="text-end mt-3">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                    <a href="{% url 'reservas' %}" class="btn btn-secondary text-white" type="button">
                        <span class="text">Cancelar</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
