{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 200px);">
<div class="card shadow-lg m-3 col-md-6">
    <div class="card-body">
        <div class="row">
            <h3 class="text-center mb-4">Cadastro de Reserva</h3>
            <form method="POST" novalidate>
                {% csrf_token %}
                
                {% bootstrap_field form.cliente %}
                
                {% bootstrap_field form.chaves %}
                
                {% bootstrap_field form.data_inicio %}
                {% bootstrap_field form.data_fim %}
                {% bootstrap_field form.status %}
                
                <div class="text-end mt-3">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                    <a href="{% url 'reservas' %}" class="btn btn-secondary text-white" type="button">
                        <span class="text">Cancelar</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
